$o-card-is-silent: false;
@import '../../main';

.demo-container {
	padding: 20px;
	width: 200px;
}

.demo-container--portrait {
	width: 200px;
}

.demo-container--landscape {
	width: 500px;
	height: 200px;
}
