<div class="demo-container demo-container--{{card-modifier}}">
	<div class="o-card o-card--{{card-modifier}}" data-o-component="o-card">
		<span class="o-card__tag">Demo card tag</span>

		{{#card-image-url}}
			<div class="o-card__image">
				<img src="{{card-image-url}}" class="" alt="demo image"/>
			</div>
		{{/card-image-url}}

		<h2 class="o-card__header">{{card-header}}</h2>

		{{#card-excerpt}}
			<div class="o-card__excerpt">{{card-excerpt}}</div>
		{{/card-excerpt}}

		<time data-o-component="o-date" class="o-date o-card__time" data-recent="" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
	</div>
</div>
