<div class="demo-container demo-container--{{card-modifier}}">
	<div class="o-card o-card--{{card-modifier}}" data-o-component="o-card">
		<a href="#" class="o-card__tag">Demo card tag</a>

		<h2 class="o-card__heading"><a href="#">{{card-heading}}</a></h2>

		{{#card-excerpt}}
			<div class="o-card__excerpt">{{card-excerpt}}</div>
		{{/card-excerpt}}

		<time data-o-component="o-date" class="o-date o-card__time" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>

		{{#card-image-url}}
			<div class="o-card__image o-card__image--{{card-image-alignment}}">
				<img src="{{card-image-url}}" alt="demo image"/>
			</div>
		{{/card-image-url}}

		{{#card-related-content.length}}
			<ul class="o-card__related-content">
				{{#card-related-content}}
					<li class="o-card__related-content-item"><a href="#">{{link}}</a></li>
				{{/card-related-content}}
			</ul>
		{{/card-related-content.length}}
	</div>
</div>
