@mixin oCard {
	@include oColorsFor(o-card box, background);
	width: 100%;
	padding: $o-card-spacing-unit;
	padding-bottom: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	box-shadow: 0 1px 0 0 oColorsGetColorFor(o-card-shadow, shadow);
}

@mixin oCardTag {
	@include oColorsFor(o-card-tag, text);
	@include oTypographySansBold(s);
	margin: 0 0 $o-card-spacing-unit;
	// If the tag is used as a link
	text-decoration: none;
}

@mixin oCardTimestamp {
	@include oColorsFor(o-card-timestamp, text);
	@include oTypographySans(xs);
	display: block;
	margin: $o-card-spacing-unit 0;
	text-transform: uppercase;
}

@mixin oCardHeading {
	@include oTypographyHeading2;
	margin-bottom: $o-card-spacing-unit;

	&--small {
		@include oTypographyHeading3;
	}

	// If there is a link in the heading
	a {
		@include oColorsFor(link-title, text);
		text-decoration: none;
	}
}

@mixin oCardStandfirst {
	@include oColorsFor(o-card-excerpt, text);
	@include oTypographySans(s);
	margin: $o-card-spacing-unit/2 0 0;
}

@mixin oCardImage {
	display: block;
	margin: 0 0 $o-card-spacing-unit;

	&--top {
		order: -1;
	}

	img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: 0;
	}
}

@mixin oCardRelatedContent {
	@include oColorsFor(o-card-list, text);
	list-style: none inside;
	margin-top: 0;
	margin-bottom: $o-card-spacing-unit;
	padding-left: 0;
	order: 6;
}

@mixin oCardRelatedContentItem {
	@include oTypographySans(s);

	&:before {
		@include oColorsFor(o-card-list, text);
		content: '>';
		position: relative;
		top: -1px;
		display: inline-block;
		margin-right: $o-card-spacing-unit;
		font-size: 12px;
	}

	a {
		@include oColorsFor(link-title, text);
		text-decoration: none;
	}
}
