@mixin oCard($alignment: portrait) {
	@if $alignment == landscape {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	} @else {
		@include oCardBlockBase;
	}
}

@mixin oCardTag($alignment: portrait) {
	@if $alignment == landscape {
		flex-basis: 100%;
	} @else {
		@include oCardElementBase(tag);
	}
}

@mixin oCardTime($alignment: portrait) {
	@if $alignment == landscape {
		flex-basis: 100%;
		order: 4;
	} @else {
		@include oCardElementBase(time);
	}
}

@mixin oCardHeader($alignment: portrait) {
	@if $alignment == landscape {
		flex-basis: 60%;
		order: 3;
	} @else {
		margin: 0;
	}
}

@mixin oCardExcerpt($alignment: portrait) {
	@if $alignment == landscape {
		order: 4;
	} @else {
		flex-basis: 100%;
		margin-top: $o-card-spacing-unit/2;
	}
}

@mixin oCardImage($alignment: portrait) {
	@if $alignment == landscape {
		flex-basis: 35%;
		margin-bottom: 0;
		order: 2;
	} @else if $alignment == large {
		order: 5;
	} @else {
		@include oCardElementBase(image);
		order: -1;
	}
}
