////
/// @group o-card base styles
/// @link http://registry.origami.ft.com/components/o-card
////

/// Base card styles
@mixin oCard {
	@include oColorsFor(o-card box, background);
	width: 100%;
	padding: $o-card-spacing-unit;
	padding-bottom: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;

	&--image-right {
		position: relative;
	}
}

/// Base tag styles
@mixin oCardTag {
	@include oColorsFor(o-card-tag, text);
	@include oTypographySansBold(s);
	display: block;
	margin: 0 0 $o-card-spacing-unit;
	// If the tag is used as a link
	text-decoration: none;

	#{$o-hoverable-if-hover-enabled} &:hover {
		@include oColorsFor(o-card-tag-hover, text);
	}
}

/// Base timestamp styles
@mixin oCardTimestamp {
	@include oColorsFor(o-card-timestamp, text);
	@include oTypographySans(xs);
	display: block;
	margin: $o-card-spacing-unit 0;
	text-transform: uppercase;
}

/// Base heading styles (includes link styles within the element)
@mixin oCardHeading {
	@include oTypographyHeading2;
	@include oColorsFor(link-title, text);
	margin-bottom: $o-card-spacing-unit;

	&--small {
		@include oTypographyHeading3;
	}

	// If there is a link in the heading
	a {
		color: inherit;
		text-decoration: none;
	}

	#{$o-hoverable-if-hover-enabled} a:hover {
		border-bottom: 1px dotted;
	}
}

/// Base standfirst text styles
@mixin oCardStandfirst {
	@include oColorsFor(o-card-excerpt, text);
	@include oTypographySans(s);
	margin: 0;
}

/// Card image styles, also applies top and bottom modifiers
@mixin oCardImage {
	display: block;
	margin: 0 0 $o-card-spacing-unit;

	// To prevent the content of the flex-item breaking out of the container in Firefox
	// https://bugzilla.mozilla.org/show_bug.cgi?id=1108514#c2
	min-width: 0;
	flex-shrink: 0;

	// Default image to the bottom of the card,
	// based on default all elements have order: 0
	order: 1;

	&--top {
		@include oCardImageTop;
	}

	&--right {
		@include oCardImageRight;
	}

	&--bottom {
		@include oCardImageBottom;
	}

	&--left {
		@include oCardImageLeft;
	}

	img {
		display: block;
		max-width: 100%;
		height: auto;
		margin: 0;
	}
}

/// Base related content list styles
@mixin oCardRelatedContent {
	@include oColorsFor(o-card-list, text);
	list-style: none inside;
	margin-top: 0;
	margin-bottom: $o-card-spacing-unit;
	padding-left: 0;
	order: 6;
}

/// Base related content item styles, including link styles
@mixin oCardRelatedContentItem {
	@include oTypographySans(s);
	@include oColorsFor(link-title, text);
	padding: 2px 0;

	&:before {
		content: '>';
		display: inline-block;
		margin-right: $o-card-spacing-unit;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	#{$o-hoverable-if-hover-enabled} a:hover {
		border-bottom: 1px dotted;
	}
}

/// Styles for a right aligned header
@mixin oCardHeaderRight {
	// Combine the image size and spacing unit for use in calc()
	$_full-image-size: $o-card-image-width + $o-card-spacing-unit;
	// Float and width are for <=IE9 where flexbox is not supported
	float: left;
	// Basic size for a heading <IE9
	width: 60%;
	// More accurate size for a heading in IE9, uses 95% as the image has a 5% margin-right
	width: calc(95% - #{$_full-image-size});
	// Heading should be at least 50% width, otherwise it will flow beneath the image
	// Will grow to fill the remaining space when an image is left aligned and 100px
	// or 100% of the space if there is no image
	flex: 1 1 50%;
	order: 3;
	padding-right: $o-card-spacing-unit;
}

/// Styles for a left aligned header
@mixin oCardHeaderLeft {
	order: 3;
	width: 45%;
	padding-right: $o-card-spacing-unit;
}


/// Styles for a left aligned image
@mixin oCardImageLeft {
	float: left;
	width: $o-card-image-width;
	// Max width in case the container is resized enough to cause the layout to break
	max-width: 30%;
	flex-basis: $o-card-image-width;
	// Move the image to appear second in the card after the tag
	order: 2;
	margin-right: 5%;
}

/// Styles for a right aligned image
@mixin oCardImageRight {
	position: absolute;
	top: $o-card-spacing-unit;
	right: $o-card-spacing-unit;
	width: 50%;
}

/// Styles to force an image to the top of the card
@mixin oCardImageTop {
	order: -1;
}

/// Styles to force an image to the bottom of the card
@mixin oCardImageBottom {
	// Ensure image goes to the bottom of the card
	// set to '6' in case anyone re-orders other card elements
	order: 6;
}
