////
/// @group o-card theme styles
/// @link http://registry.origami.ft.com/components/o-card
////

/// Stand out card theme styles
@mixin oCardThemeStandout {
	// e.g. .o-card--standout
	&--standout {
		@include oColorsFor(o-card-standout, background);
	}
}

/// Portrait card theme styles
@mixin oCardThemePortrait {

	&--portrait {
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
	}

	// Normalise the styles for an image in a portrait card
	&--portrait &__image {
		position: static;
		float: none;
		width: 100%;
	}

	// Normalise the styles for a heading in a portrait card
	&--portrait &__heading {
		float: none;
		width: 100%;
	}

}

/// Landscape card theme base styles
/// modifies block elements tag, standfirst, timestamp, image, and heading
/// to adapt to a landscape/horizontal layout
@mixin oCardThemeLandscape {
	// e.g. .o-card--landscape
	&--landscape {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	&--landscape &__tag,
	&--landscape &__standfirst,
	&--landscape &__timestamp {
		clear: left;
		width: 100%;
		flex: 0 0 100%;
	}

	&--landscape &__standfirst {
		order: 4;
	}

	&--landscape &__timestamp {
		order: 5;
	}

	// The headings should only be aligned based on the
	// image alignment
	&--image-right &__heading {
		@include oCardHeaderLeft;
	}

	&--image-left &__heading {
		@include oCardHeaderRight;
	}
}
