////
/// @group o-card theme styles
/// @link http://registry.origami.ft.com/components/o-card
////

/// Stand out card theme styles
@mixin oCardThemeStandout {
	@include oColorsFor(o-card-standout, background);
}

/// Styles for the o-card__tag element.
/// Sets the colour and typography of an opinion card tag.
@mixin oCardThemeOpinionTag {
	@include oTypographySerif(m);
	color: $o-card-opinion-colour;

	a {
		color: inherit;
	}
}

/// Styles for rounded meta images.
/// Adds border radius and background colour
@mixin oCardThemeMetaImageRounded {
	border-radius: 50%;
	overflow: hidden;
	background-color: $o-card-headshot-colour;
}

/// Portrait card theme styles.
/// Modifies the card to a flex column.
/// Resets o-card__image and o-card__content to fill the full width of the card
@mixin oCardThemePortrait {
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;

	// Normalise the styles for an image in a portrait card
	.o-card__image {
		float: none;
		width: 100%;
		padding: 0;
	}

	// Normalise the styles for a heading in a portrait card
	.o-card__content {
		float: none;
		width: 100%;
	}
}

/// Landscape card theme styles.
/// Modifies only the o-card element to switch to a flex row layout
@mixin oCardThemeLandscape {
	flex-direction: row;
	justify-content: space-between;

	&.o-card--image-right .o-card__content,
	&.o-card--image-left .o-card__content {
		width: 60%;
	}

	&.o-card--image-right .o-card__content {
		float: left;
	}

	&.o-card--image-left .o-card__content {
		float: right;
	}
}
