@mixin oCardThemeLandscape {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

	.o-card__tag,
	.o-card__standfirst,
	.o-card__time {
		flex-basis: 100%;
	}

	.o-card__image {
		margin-bottom: 0;

		&--left {
			flex-basis: 100px;
			order: 2;
			margin-right: 5%;
		}

		&--right {
			flex-basis: 50%;
			order: 3;
		}
	}

	.o-card__heading {
		flex-basis: 50%; // For when an image is right aligned
		flex-grow: 1; // Will grow to fill 100% of the space if there is no image
		order: 3;
	}

	.o-card__standfirst {
		order: 4;
	}

	.o-card__time {
		order: 5;
	}
}
