////
/// @group o-card base styles
/// @link http://registry.origami.ft.com/components/o-card
////

/// Silent mode
/// @type Bool
$o-card-is-silent: true !default;

/// Size of spacing used throughout the component
/// @type {Number}
$o-card-spacing-unit: 10px;

/// Size of image when left aligned
/// @type {Number}
$o-card-image-width: 40%;
