$o-card-is-silent: true !default;

$o-card-spacing-unit: 20px;

// AO: This should not stay here, check with designers
$o-card-tag-color: #a02d4f;

$o-card-tag-font-size: 12px;
$o-card-tag-line-height: 16px;
