////
/// @group o-card base styles
/// @link http://registry.origami.ft.com/components/o-card
////

/// Silent mode
/// @type Bool
$o-card-is-silent: true !default;

/// Active mode
/// @type Bool
$o-card-output-fonts: false !default;

/// Size of spacing used throughout the component
/// @type {Number}
$o-card-spacing-unit: 10px;

/// Size of image when left aligned
/// @type {Number}
$o-card-image-left-width: 40%;

/// Size of image when right aligned
/// @type {Number}
$o-card-image-right-width: 50%;

/// Size of the meta image element
/// @type {Number}
$o-card-meta-image-size: 60px;
